* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: serif;
  text-align: center;
  font-style: italic;
}

div.centro{
  padding: 15px;
}
div.slidecontainer{
position: fixed;
}


#c {
  background-color: white;
  display: block;
  margin: 1em auto;
  cursor: pointer;
}
#c2 {
  background-color: white;
  display: block;
  margin: 1em auto;
  cursor: pointer;
}
#c3 {
  background-color: white;
  display: block;
  margin: 1em auto;
  cursor: pointer;
}

#c4 {
  background-color: white;
  display: block;
  margin: 1em auto;
  cursor: pointer;
}

#c5 {
  background-color: white;
  display: block;
  margin: 1em auto;
  cursor: pointer;
}

#c6 {
  background-color: white;
  display: block;
  margin: 1em auto;
  cursor: pointer;
}

#c7 {
  background-color: white;
  display: block;
  margin: 1em auto;
  cursor: pointer;
}

#c8 {
  background-color: white;
  display: block;
  margin: 1em auto;
  cursor: pointer;
}

#c9 {
  background-color: white;
  display: block;
  margin: 1em auto;
  cursor: pointer;
}

#c10 {
  background-color: white;
  display: block;
  margin: 1em auto;
  cursor: pointer;
}

#canvasContainer {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  position: absolute;
}

#canvasContainer2 {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  position: relative;
  right: 200px;
}

#canvasContainer3 {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  position: absolute;
}

#canvasContainer4 {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  position: relative;
  right: 200px;

}

#canvasContainer5 {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  position: absolute;
}

#canvasContainer6 {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  position: relative;
  right: 200px;

}

#canvasContainer7 {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  position: absolute;
}

#canvasContainer8 {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  position: relative;
  right: 200px;

}

#canvasContainer9 {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  position: absolute;
}

#canvasContainer10 {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  position: relative;
  right: 200px;

}

#output {
  position: absolute;
  padding: 0.5em;
  top: 107px;
  left: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 3em;
  pointer-events: none;
}
#output2 {
  position: absolute;
  padding: 0.5em;
  top: 107px;
  left: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 3em;
  pointer-events: none;
}
#output3 {
  position: absolute;
  padding: 0.5em;
  top: 107px;
  left: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 3em;
  pointer-events: none;
}

#output4 {
  position: absolute;
  padding: 0.5em;
  top: 107px;
  left: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 3em;
  pointer-events: none;
}

#output5 {
  position: absolute;
  padding: 0.5em;
  top: 107px;
  left: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 3em;
  pointer-events: none;
}

#output6 {
  position: absolute;
  padding: 0.5em;
  top: 107px;
  left: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 3em;
  pointer-events: none;
}

#output7 {
  position: absolute;
  padding: 0.5em;
  top: 107px;
  left: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 3em;
  pointer-events: none;
}

#output8 {
  position: absolute;
  padding: 0.5em;
  top: 107px;
  left: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 3em;
  pointer-events: none;
}

#output9 {
  position: absolute;
  padding: 0.5em;
  top: 107px;
  left: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 3em;
  pointer-events: none;
}

#output10 {
  position: absolute;
  padding: 0.5em;
  top: 107px;
  left: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 3em;
  pointer-events: none;
}

#output::selection {
  background-color: rgba(255, 255, 255, 0.8);
}


#output2::selection {
  background-color: rgba(255, 255, 255, 0.8);
}
#output3::selection {
  background-color: rgba(255, 255, 255, 0.8);
}

#output4::selection {
  background-color: rgba(255, 255, 255, 0.8);
}
#output5::selection {
  background-color: rgba(255, 255, 255, 0.8);
}

#output::-moz-selection {
  background-color: rgba(255, 255, 255, 0.8);
}

#output2::-moz-selection {
  background-color: rgba(255, 255, 255, 0.8);
}
#output3::-moz-selection {
  background-color: rgba(255, 255, 255, 0.8);
}

#output4::-moz-selection {
  background-color: rgba(255, 255, 255, 0.8);
}
#output5::-moz-selection {
  background-color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-size: 150%;
  padding: 0.2em;
  margin-top: 1.5em;
}
h2 {
  position: relative;
  left: auto;
  font-size: 150%;
  padding: 0.3em;
  margin-top: 1.5em;
}

#Índice {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
  position: scroll;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;

}

div.sticky2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 100;

}




#Índice td,
#Índice th {
  position: -webkit-sticky;
  position: sticky;
  border: 1px solid #ddd;
  padding: 8px;
}

#Índice tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Índice tr:hover {
  background-color: #ddd;
}

#Índice th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
